Ice.Default.Locator=VotingConsultationIceGrid/Locator:default -h xhgrid10 -p 8888

Ice.LogFile=ice_server.log
Ice.Override.Compress=1

# change the IP address to that of the host that will use the service
Subscriber.Endpoints=tcp -h 10.147.19.29 -p 10001
Ice.Override.Timeout=5000
Ice.Override.ConnectTimeout=3000
