Ice.Default.Locator=VotingConsultationIceGrid/Locator:default -h localhost -p 4062

Ice.Default.Host=localhost

Ice.LogFile=ice_server.log

Ice.Override.Timeout=5000
Ice.Override.ConnectTimeout=3000

Ice.Override.Compress=1

Subscriber.Endpoints=tcp -h localhost -p 10001
Ice.Trace.Locator=3
Ice.Trace.Network=3
Ice.Trace.Protocol=1
