VotingServiceWorker.Proxy=VotingServiceWorker:tcp -h localhost -p 5000

Ice.Default.Host=localhost

Ice.LogFile=ice_server.log

Ice.Override.Timeout=5000
Ice.Override.ConnectTimeout=3000

Ice.Override.Compress=1

Subscriber.Endpoints=tcp -p 10001
Publisher.Proxy=Publisher:default -h localhost -p 5000